name: Deploy to Heroku

on: [push]

jobs:
  deploy_to_heroku:
    name: Deploy to Heroku
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@master
      - name: Build docker image
        uses: actions/docker/cli@master
        with:
          args: build -t $HEROKU_APP .
        env:
          HEROKU_APP: ${{ secrets.HEROKU_APP }}
      - name: Login to Heroku
        uses: actions/heroku@master
        with:
          args: container:login
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_APP: ${{ secrets.HEROKU_APP }}
      - name: Push to Heroku
        uses: actions/heroku@master
        with:
          args: container:push web
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_APP: ${{ secrets.HEROKU_APP }}
      - name: Release to Heroku
        uses: actions/heroku@master
        with:
          args: container:release web
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_APP: ${{ secrets.HEROKU_APP }}